seeds/hd/hd_btrfs filter=lfs diff=lfs merge=lfs -text
seeds/hd/hd_zfs filter=lfs diff=lfs merge=lfs -text
targets/barebox/barebox-2024.01.0/sdX filter=lfs diff=lfs merge=lfs -text
seeds/hd/hd_xfs filter=lfs diff=lfs merge=lfs -text
seeds/fs/btrfs filter=lfs diff=lfs merge=lfs -text
seeds/fs/xfs filter=lfs diff=lfs merge=lfs -text
seeds/config filter=lfs diff=lfs merge=lfs -text
seeds/normal_parser filter=lfs diff=lfs merge=lfs -text
seeds/nfs filter=lfs diff=lfs merge=lfs -text
seeds/dns filter=lfs diff=lfs merge=lfs -text
seeds/http filter=lfs diff=lfs merge=lfs -text
seeds/base64 filter=lfs diff=lfs merge=lfs -text
seeds/sntp filter=lfs diff=lfs merge=lfs -text
seeds/svg filter=lfs diff=lfs merge=lfs -text
seeds/ping filter=lfs diff=lfs merge=lfs -text
seeds/clean_seeds filter=lfs diff=lfs merge=lfs -text
seeds/dtb filter=lfs diff=lfs merge=lfs -text
seeds/http_ filter=lfs diff=lfs merge=lfs -text
seeds/images filter=lfs diff=lfs merge=lfs -text
seeds/json filter=lfs diff=lfs merge=lfs -text
seeds/limine_cfg filter=lfs diff=lfs merge=lfs -text
seeds/bcd filter=lfs diff=lfs merge=lfs -text
seeds/load_env filter=lfs diff=lfs merge=lfs -text
seeds/gettext_mo filter=lfs diff=lfs merge=lfs -text
seeds/fs filter=lfs diff=lfs merge=lfs -text
seeds/hd filter=lfs diff=lfs merge=lfs -text
seeds/Readme.md filter=lfs diff=lfs merge=lfs -text
seeds/srec filter=lfs diff=lfs merge=lfs -text
seeds/tftp filter=lfs diff=lfs merge=lfs -text
seeds/file_systems filter=lfs diff=lfs merge=lfs -text
seeds/regex filter=lfs diff=lfs merge=lfs -text
images/uboot-img filter=lfs diff=lfs merge=lfs -text
images/clover.img filter=lfs diff=lfs merge=lfs -text
images/clover.img_backup filter=lfs diff=lfs merge=lfs -text
images/limine_mbr filter=lfs diff=lfs merge=lfs -text
images/mount filter=lfs diff=lfs merge=lfs -text
images/refind.img filter=lfs diff=lfs merge=lfs -text
images/refind.img.backup filter=lfs diff=lfs merge=lfs -text
images/systemd.img filter=lfs diff=lfs merge=lfs -text
images/barebox.img filter=lfs diff=lfs merge=lfs -text
images/easyboot.img filter=lfs diff=lfs merge=lfs -text
