./targets/barebox/barebox-2024.01.0/barebox-boot.img
./targets/barebox/barebox-2024.01.0/sdX
./targets/uboot/u-boot/.git/objects/pack/pack-03c570a5a6a2d71f3b8a526e9a09d5cb9e49d433.pack
./targets/uboot/u-boot_backup/.git/objects/pack/pack-c86610ee98b67a20138948c3628090ca3d25daa4.pack
./targets/cloverbootloader/CloverBootloader_backup/.git/modules/OpenCorePkg/objects/pack/pack-c46bb8b978bdb3630b6bf2d1d2927f0e6a7eedbe.pack
./targets/cloverbootloader/CloverBootloader_backup/.git/objects/pack/pack-a9e187ffcce5f6e0c18ef852b2a599e4e7fceb83.pack
./targets/cloverbootloader/CloverBootloader_backup/Build/Clover/RELEASE_GCC53/X64/CLOVERX64.debug
./targets/cloverbootloader/CloverBootloader_backup/Build/Clover/RELEASE_GCC53/X64/rEFIt_UEFI/refit/DEBUG/CLOVERX64.debug
./targets/cloverbootloader/CloverBootloader_backup/Build/Clover/RELEASE_GCC53/X64/rEFIt_UEFI/refit/DEBUG/CLOVERX64.dll
./targets/cloverbootloader/CloverBootloader_backup/Build/Clover/RELEASE_GCC53/X64/rEFIt_UEFI/refit/OUTPUT/CLOVERX64.lib
./targets/cloverbootloader/CloverBootloader/.git/modules/OpenCorePkg/objects/pack/pack-6bb75a2c14fa51789038b68ebbb0dd0f630d89dc.pack
./targets/cloverbootloader/CloverBootloader/.git/objects/pack/pack-93bc0ec0a4a31ba5b0dc9ae7d84ca1c70949f461.pack
./targets/cloverbootloader/CloverBootloader/Build/Clover/RELEASE_GCC53/X64/CLOVERX64.debug
./targets/cloverbootloader/CloverBootloader/Build/Clover/RELEASE_GCC53/X64/rEFIt_UEFI/refit/DEBUG/CLOVERX64.debug
./targets/cloverbootloader/CloverBootloader/Build/Clover/RELEASE_GCC53/X64/rEFIt_UEFI/refit/DEBUG/CLOVERX64.dll
./targets/cloverbootloader/CloverBootloader/Build/Clover/RELEASE_GCC53/X64/rEFIt_UEFI/refit/OUTPUT/CLOVERX64.lib
./targets/OpenCorePkg/.git/objects/pack/pack-62864172ddbad9cd93dde303e4cb64476523f207.pack
./targets/limine/limine/.git/objects/pack/pack-12d4bdd6772073d146c656cc0a12d22d0a286a20.pack
./targets/limine/limine_backup/.git/objects/pack/pack-12d4bdd6772073d146c656cc0a12d22d0a286a20.pack
./targets/systemd/systemd/.git/modules/pkg/debian/objects/pack/pack-ec24913902e9a0a3374eed83ab7646339422b52b.pack
./targets/systemd/systemd/.git/objects/pack/pack-8aa72d30fcab4541b42e9f9021c573d6e78c9c3d.pack
./targets/systemd/systemd_backup/.git/objects/pack/pack-e185bbeb0aaacd1ac165537590e703d4ffb9d0a7.pack
./targets/opencore/OpenCorePkg/.git/objects/pack/pack-7687633097874328c03e748610635528054acb27.pack
./images/limine_mbr
